#map{
  width: 500px;
  height: 400px;
  border : 2px solid grey;
  position: relative;
  overflow: hidden;
  top:50px;
  left:350px;
  background:#000;
}

#map-canvas {
  width: 1200px;
  height: 800px;
  background : url('../images/map-game.png') no-repeat;
  z-index:10;
}

.dots-layer {
  position:relative;
  width: 1200px;
  height: 800px;
  background:rgba(0,0,0,0.1);
  z-index:11;

}
.dots{
  width: 70px;
  height: 20px;
  position: absolute;
  text-align:center;
  font-weight:bold;
  background:rgba(255,255,255,0.5);
}

.yellow{
left:460px;
top:730px;
}
.blue{
left: 218px;
top:495px;
}
.maroon{
left:497px;
top:423px;
}
.light-green{
left:111px;
top:152px;
}
.pink{
left:376px;
top:95px;
}
.green{
left:827px;
top:102px;

}
.red{
left:970px;
top:330px;
}
.acqua{
left:797px;
top:449px;
}
.orange{
left:841px;
top:727px;
}

body {
  background:#fff;
  overflow: hidden;
}
